#MyCont{
	border: 10px dotted orange;
}
div{
	font-size: 80px;
	border: 10px dotted orange;
}
#child1{
	display: flex;
	flex-direction: row;
	margin-left: 0px;
	margin-right: 1729px;
	float: left;
	float: right;
}
#child2{
    display: flex;
	flex-direction: row;
	margin-right: 1650px;
	margin-left: 66px;
	float: right;
}
#child3{
	display: flex;
	flex-direction: row;
    margin-right: 1262px;
    align-self: flex-end;
}
#childe4{
	display: flex;
	flex-direction: row;
	margin-right: 1962px;
	align-self: flex-end;
}